<html>
<head>
<title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
            // this triggers the connection event in our server!
            $(document).ready(function (){
            var socket = io.connect();
            var counter = 0
            $('button').click(function (){
              socket.emit("button_clicked", {reason: counter += 1});
            });
            socket.on('server_response', function (data){
              console.log('The server says: ' + data.response);
              console.log(data)
            });
        })
    </script>
</head>
<body>
  <h1>hello world</h1>
    <button>I AM A BUTTON!</button>
</body>
</html>
