<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new</title>
  </head>
  <body>
    <h1>doggo maker 3000</h1>
    <form action="/submit"method="post">
      <br>name<input type="text"name="name"></br>
      <br>color<input type="text" name="color"></br>
      <button>submit</button>
    </form>
  </body>
</html>
