<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index!</title>
  </head>
  <body>
  <h1>add a message pls</h1>
  <form action="/message" method="post">
    <br>name<input type="text" name="name"></br>
    <br>your message<input type="textarea" rows="5" cols="60" name="quote"></br>
    <button>submit</button>

  </body>
</html>
