// Place all the styles related to the word controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  background-color: black;
  color: red ;
  margin-left:130px;
}

span{
  color:white;
  margin-left: 0
}
