<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey</title>
  </head>
  <body>
    <form action="submit" method="post">
      <h1>Take this survey now!! >:c</h1>
      <p>Name:<input type='text' name="name"></p>
      <p>Dojo Location:<input type='text' name="location"></p>
      <p>Favorite Language:<input type='text' name="fave"></p>
      <p>Comment(not optional):<textarea input type='text' name="description"></textarea></p>
      <button>Submit me!!!</button>
  </form>
  </body>
</html>
