<h1>thanks for taking this survey this is what you submitted</h1>
<br><h3>name:<%= @survey['name'] %></br></h3>
<br><h3>location:<%= @survey['location'] %></br></h3>
<br><h3>language<%= @survey['language'] %></br></h3>
<br><h3>name:<%= @survey %></br></h3>
