<h1> editing this user</h1>
<form action="update/<%= params[:id] %>" method="post">
  <input type="hidden"name="_method"value="put">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <br><input type="text" name="first" placeholder="first name"/></br>
  <br><input type="text" name="last" placeholder="last name"/></br>
  <br><input type="text" name="email" placeholder="email address"/></br>
  <br><input type="password" name="pass" placeholder="password"/></br>
  <input type="submit" value="create"/>
</form>
