<h1>showing <%= @show['first_name'] %></h1>
<h3> first name: <%= @show['first_name'] %></h3>
<h3>last name: <%= @show['last_name'] %></h3>
<h3>email address: <%= @show['email_address'] %></h3>
<a href="/">back</a>
