<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DASHBOARD</title>
  </head>
  <body>
    <h3><a href="/">log out!</a></h3>
    <h1>your quotes!</h1>
    <table style="border:1px solid black">
  <thead>
    <tr>
      <th>quote by</th>
      <th>actual quote</th>
      <th>posted by</th>
      <th>action</th>
    </tr>
  </thead>
  {% for quotes in myquotes %}
      <tr>
        <td style="border:1px solid black">{{quotes.quote.quote_by}}</td>
        <td style="border:1px solid black">{{quotes.quote.message}}</td>
        <td style="border:1px solid black"><a href="/show/{{quotes.quote.made_by.id}}">{{quotes.quote.made_by.alias}}</a></td>
        <td style="border:1px solid black"><a href="/remove/{{quotes.id}}">Be Gone!</a></td>
      </tr>
      {% endfor %}
</table>
<h1>quotable quotes</h1>
<table style="border:1px solid black">
  <thead>
    <tr>
      <th>quote by</th>
      <th>actual quote</th>
      <th>posted by</th>
      <th>action</th>
    </tr>
  </thead>
      <tr>
        {% for quotes in allquotes %}
        <td style="border-bottom:1px solid black">{{quotes.quote_by}}</td>
        <td style="border-bottom:1px solid black">{{quotes.message}}</td>
        <td style="border-bottom:1px solid black"><a href="/show/{{quotes.made_by.id}}">{{quotes.made_by.alias}}</a></td>
        <td><a href="/add2me/{{quotes.id}}">add to my quotes!</a></td>
      </tr>
      {% endfor %}
</table>
    <form action='/create' method='post'>
      {% csrf_token %}
      add who this quote is by!<input type="text" name="quote_by">
      also add the quote!<input type="text" name="message">
      <input type="submit" values="adding">
    </form>
  </body>
</html>
