<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    <h1>it Works!(finally)!</h1>
    <form action="/result" method="post">
      <br>name! <input type="text" name="name"></br>
      <br>location! <input type="text" name="location"></br>
      <br>favorite language! <input type="text" name="favorite"></br>
      <br>comment! <input type="textarea" name="comment"></br>
      <button>submit</button>
    </form>
  </body>
</html>
