<h1>Sign In</h1>
<form action="/login" method="post" role="form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter email">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter password">
  </p>
  <button type="submit">Log In</button>
</form>
