<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="bower_components/angular/angular.js" charset="utf-8"></script>
    <script>
      var myUsersApp = angular.module('myApp' ,[]);
        myUsersApp.controller('usersController', function($scope){
          console.log(angular)
          $scope.users = []
          $scope.addUser = function(){
            console.log('clicked me')
            console.log($scope.newUser)
            $scope.users.push($scope.newUser)
            $scope.newUser = {}
          }
          $scope.deleteUser = function(idx){
            console.log("delete"+ idx)
            $scope.users.splice(idx, 1)
          }
        })
    </script>
  </head>
  <body ng-controller="usersController">
    <form>
        First Name<input type="text" ng-model="newUser.first">
        last Name<input type="text" ng-model="newUser.last">
        favorite language<input type="text" ng-model="newUser.language">
        <input type="submit" value="Add User" ng-click="addUser()">
    </form>
    <table>
      <thead>
        <th>first name</th>
        <th>last name</th>
        <th>language</th>
        <th>action</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{user.first}}</td>
          <td>{{user.last}}</td>
          <td>{{user.language}}</td>
          <td><a href="" ng-click="deleteUser($index)">delete</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
