<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>show</title>
  </head>
  <body>
    <h1>SHOW</h1>
    <% for(var i in quotes) { %>
      name: <%= quotes[i].name %>
      Quote: <%= quotes[i].quote %>
    <% } %>
  </body>
</html>
