<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="bower_components/angular/angular.js" charset="utf-8"></script>
    <script>
    var myAppModule = angular.module('myApp', []);
    // Create a factory (attached to this module)
    myAppModule.factory('studentFactory', function (){
        // The factory is nothing more than a function that returns an object
        var students = [
            {name: 'Mike', age: 34},
            {name: 'John', age: 24},
            {name: 'Trey', age: 24}];
        var factory = {};
        // Add a getStudents key to the factory object with a value of a function.
        factory.getStudents = function (data, callback){
          console.log(data)
            // Pass the students to a callback to be used by whoever calls the method
            callback(students);
        }
        // Most important step: return the object so it can be used by the rest of our angular code
        return factory;
    });


    // Create a controller (attached to this module), and inject the studentFactory in it.
    myAppModule.controller('studentsController', ['$scope', 'studentFactory', function ($scope, studentFactory){
        //  initialize an empty array so $scope.students maintains a consistent data type
        $scope.students = [];
        // run the getStudents method and set $scope data in the callback
        var idk = "stuff"
         $scope.getStudents = function(){
         console.log(idk)
        studentFactory.getStudents(idk, function (data){
            $scope.students = data;
        })
      }
    }])
    </script>
  </head>
  <body ng-controller="studentsController">
    <h1>hello</h1>
    <form>
      product name<input type="text" ng-model="newProduct.name">
      price<input type="text" ng-model="newProduct.price">
      <input type="submit" value="submit" ng-click="getStudents()">
    </form>
    <table>
      <thead>
        <th>product name</th>
        <th>price</th>
        <th>action</th>
      </thead>
      <tbody>
        <tr ng-repeat="product in products">

          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td><a href="" ng-click="deleteProduct($index)">delete me!</a></td>
        </tr>
      </tbody>
  </body>
</html>
