#header{
  height:100px;
  width:85%;
  background-color:#e6e6e6;
  margin:auto;
  border-radius:20px;
  margin-bottom:20px;
  display:block;
  padding-left:10px;

}
#sidebar{
  height:300px;
  width:200px;
  background-color:#e6e6e6;
  display:inline-block;
  margin-right:50px;
  margin-left:100px;
  border-radius:20px;
  vertical-align: top;
  padding-left:15px;

}

#main{background-color:#b3b3b3;
      width:800px;
      height:500px;
      border-radius:20px;
      display:inline-block;
      padding-left:10px;

}
#footer{background-color:#e6e6e6;
      width:85%;
      height:100px;
      margin:auto;
      border-radius:20px;
      margin-top:12px;
      padding-left:10px;
      padding-top:5px;
      }

#header h1{font-size:70px;}

span{color:#2e2eb8;
    font-style:bold;
    text-decoration:underline;}

#main li{font-size:20px;
        margin:20px;}

#sidebar li{text-decoration:none;}
