<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>THEWALL</title>
  </head>
  <body>
    <h1>WELCOME TO THE WALL</h1>
    <form action="/register" method='post'>
      First Name:<input type ='text' name='first_name'>
      L:<input type ='text' name='last_name'>
      E:<input type ='text' name='email'>
      P:<input type ='password' name='password'>
      CP:<input type ='password' name='confirm_password'>
      <button>Register</button>
    </form>
      <h1>wall</h1>
      <form action="/login" method="post">
          <input type="email" name="email">
          <input type="password" name="password">
          <button>wall</button>
      </form>
  </body>
</html>
