<h1>make a new user</h1>
<form action="create" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="name" placeholder="Name"/>
  <input type="submit" value="create"/>
</form>
